<!DOCTYPE html>
<html>
    <head> <title>Chinyemba Careers</title>
        {%  include 'bootstrap.html'        %}

       
    </head>
    <body>
      {% include 'nav.html'  %}
      {% include 'banner.html'  %}
        <div class="container">
            <h1 class="text-center mt-2 mb-2">Chinyemba Careers</h1>
            <div class="row" style="margin-bottom:16px;">
              <div class="col-6">
            <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi tempora, hic aliquam totam temporibus et aut itaque, modi natus perspiciatis nemo ut exercitationem reiciendis dignissimos quibusdam quia omnis vitae illo.
            </p>
              </div>
              <div class="d-none d-md-block col-md-6">
              <img src="static/peopleworking.webp" style="height:320px;border-radius:4px;">
              </div>
            <div>
            <h2 class="text-center mt-2 mb-2">Open Positions</h2>
            <p>
                {% for job in jobs %}
                    {% include "jobs.html"  %}
                {%  endfor  %}
            </p>
            <div class="text-center">
                <a href="mailto:hello@jovain.ai?subject=Questions%20about%20Job%20Openings&body=My%20name%3A%3Cname%3E%0D%0AMy%20questions%3A%20%3Center%20question%20here%3E" class="btn btn-primary btn-lg ">Contact Us</a>
                <p class="mt-4">CopyRight 2023</p>
            </div>
        </div>
     {% include 'footer.html' %} 
    </body>
</html>